@import "~bulma/sass/utilities/initial-variables";

// Config vars
$kaldi-red: #FD461E;
$kaldi-red-invert: #fff;

$primary: $kaldi-red;
$primary-invert: $kaldi-red-invert;




@import "patterns/_all";
@import "utilities/_all";
@import "~bulma";
